@media screen and (max-width: 480px) {
    header {
        display: flex;
        width: 100%;

    }

    header img {
        width: 15%;
        height: 100%;

    }

   header nav {
        width: 100%;
    }

    header nav ul {

        gap: 20px;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        background-color: #242424;


    }

   header nav ul li {

        display: flex;
        font-size: 23px;
        margin-right: 10px;
        color: #fff;
        font-family: "Roboto", sans-serif;
        background-color: transparent;


    }

    main section.content__banner h1 {
        color: #fff;
        display: flex;

        justify-content: center;
        text-align: center;
        font-family: "Bebas Neue", sans-serif;
        font-weight: lighter;
        font-size: 30px;
        background-color: #002F6E;

    }

    main section.content__banner {
        height: 100%;
        background-color: #002F6E;
    }

    main section.content__banner .content__img {
        position: relative;

        background-color: #004AAD;
    }

    main section.content__banner .content__img img {
        width: 100%;
        height: 250px;

    }

    main section.content__banner .content__img h1 {

        /* posiciona no meio da imagem */
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);

        width: 100%;
        display: flex;
        font-weight: 400;
        font-size: 30px;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        font-family: "Roboto Serif", serif;
        opacity: 80%;

    }

    main section.content__sobre {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #004AAD;
    }

    main section.content__sobre img {
        width: 50%;
        margin-top: 10px;
    }

    main section.content__sobre h1 {
        color: #fff;
        font-size: 30px;
        margin-top: 20px;
        font-weight: lighter;
        background-color: transparent;
        font-family: "Bebas Neue", sans-serif;

    }

    main section.content__sobre p {
        background-color: transparent;
        color: #fff;
        width: 80%;
        text-align: justify;
    }

    /* transformação do service */

    main section.content__service {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        padding: 20px;
        text-align: center;
        background-color: #004AAD;
    }

    main section.content__service h1 {
        background-color: transparent;
        color: #fff;
        font-family: "Bebas Neue", sans-serif;
        font-size: 30px;
        font-weight: lighter;

    }

    .service__item {
        width: 200px;
        height: 250px;
        perspective: 1000px;
    }

    .card {
        width: 100%;
        height: 100%;
        position: relative;
    }

    .card-inner {
        width: 100%;
        height: 100%;
        transition: transform 0.6s;
        transform-style: preserve-3d;
        position: relative;

    }

    .service__item:hover .card-inner {
        transform: rotateY(180deg);
    }

    .card-front,
    .card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        background: #004AAD;
        /* fundo azul conforme solicitado */
        border: 1px solid #ccc;
        /* borda fina */
        border-radius: 8px;
        padding: 10px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #fff;
        /* texto branco para contraste com o azul */
        text-align: center;
    }

    .card-front img {
        width: 60%;
        margin-bottom: 10px;
        background-color: transparent;
    }

    .card-front h2 {
        background-color: transparent;
        font-family: "Roboto", sans-serif;

    }

    .card-back {
        transform: rotateY(180deg);

    }

    .card-back p {
        background-color: transparent;
        font-family: "Roboto", sans-serif;
    }

    main section.content__service button {
        text-decoration: none;
        background-color: #14E237;
        border-radius: 20px;
        padding: 10px;
        border: none;
        justify-content: center;
        display: flex;
        align-items: center;
        width: 80%;

    }

    main section.content__service button a {
        text-decoration: none;
        color: #fff;
        font-family: "Roboto", sans-serif;
        text-transform: uppercase;
        font-size: 15px;
        margin-left: 5px;
    }

    main section.content__location {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        color: #fff;
        background: #004AAD;
        padding: 20px;

    }

    main section .content__text {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    main section.content__location .content__text h1 {
        font-family: "Bebas Neue", sans-serif;
        font-size: 30px;
        color: #fff;
        margin: 0;

    }

    main section.content__location i {
        font-size: 20px;


    }

    main section.content__location p {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        color: #fff;
        text-align: center;
        margin: 10px 0;
        font-weight: lighter;
    }

    main section.content__location i {

        align-items: baseline;
    }

    main section.content__atendiment {
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        color: #fff;
        background: #053D88;

    }

    main section.content__atendiment h1 {
        font-family: "Bebas Neue", sans-serif;
        font-size: 30px;
        font-weight: lighter;
        color: #fff;
        margin-top: 5px;

    }

    main section.content__atendiment p {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        color: #fff;
        text-align: center;
        font-weight: lighter;
        margin-top: 10px;

    }

    main section.contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        color: #fff;
        background: #002F6E;
        padding: 20px;

    }

    main section.contact .content__text {
        display: flex;
        align-items: baseline;
        gap: 10px;
    }

    main section.contact h1 {
        font-family: "Bebas Neue", sans-serif;
        font-size: 30px;
        font-weight: lighter;
        color: #fff;
        margin-top: 5px;

    }

    main section.contact p {
        text-transform: uppercase;
        font-weight: lighter;
    }

    main section.contact p a {
        text-decoration: none;
        color: #fff;
        margin: 5px 0;
        text-transform: lowercase;
        cursor: pointer;
    }

    footer {

        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #242424;
    }

    footer p {
        display: flex;
        align-items: center;
        text-align: center;
        color: #fff;
        font-family: "Roboto", sans-serif;
        font-weight: lighter;
        margin-top: 10px;

    }

}